{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Ganteng</title>
{% endblock meta %}

{% block content %}
<div class="d-flex flex-column mx-5 mt-3">
<div class="mt-3 p-1 bg-light shadow rounded border" style="min-height:3rem;">
    <div class="d-flex flex-row justify-content-between">
        <p class="text-dark mb-1 h5"><strong>{{post.title}}</strong></p>
        <div class="d-flex flex-row">
            <a type="button" href="{% url 'forum:delete_post' post.id%}" class="btn btn-primary btn-sm">Delete</a>
            <p class="text-dark mb-1 h5"><strong>{{post.id}}</strong></p>
        </div>
    </div>
    <p class="text-dark mb-1"><strong>by {{post.user.name}}</strong></p>
    <p class="text-dark mb-1 border-top">{{post.content}}</p>
    <div class="d-flex flex-row justify-content-end border-top">
    <a href="{% url 'forum:like_post' post.id%}" class="text-dark p-1 mb-1">{{like}} 
    <img src="https://www.jing.fm/clipimg/full/5-51130_thumbs-clipart-achieved-thumbs-up-icon-copyright-free.png" alt="Tyme" style="max-width:1rem;position: relative;top: -2px;">
    </a>
    <p class="text-dark p-1 mb-1 ml-1">{{comment_count}}
    <img src="https://cdn.discordapp.com/attachments/916267375471525908/917330385107574784/comment-2551199-2136583.png" alt="Tyme" style="max-width:1.1rem;position: relative;top: -2px;">
    </p>
    </div>
</div>
<p class="mt-3 mb-3 ml-3 text-light h5"><strong><u>Comments</u></strong></p>
{% for comment in commentlist %}
    <div class="mb-3 p-1 bg-light shadow rounded border" style="min-height:3rem;">
        <p class="text-dark mb-1 border-bottom"><strong>by {{comment.user.username}}</strong></p>
        <p class="text-dark mb-1 border-bottom">{{comment.content}}</p>
        {% if comment.user == request.user and comment.deleted == False %}
        <a type="button" href="{% url 'comment:del_com' comment.id%}" class="btn btn-danger btn-sm">Delete Content</a>
        {% endif %}
        {% if request.user.is_superuser %}
        <a type="button" href="{% url 'comment:del1_com' comment.id%}" class="btn btn-danger btn-sm">Delete</a>
        {% endif %}
    </div>
{% endfor %}
<div class="mt-3 p-1 bg-light shadow rounded border" style="min-height:3rem;">
<form action="{% url 'comment:comment_post' post.id%}" method="POST" class="d-flex flex-column mt-2">
    {% if user.is_authenticated %}
    <p class="ml-2 border-bottom"><strong>by {{request.user.username}}</strong></p>
    {% else %}
    <p class="ml-2 border-bottom"><strong>Please register to comment</strong></p>
    {% endif %}
    {% csrf_token %}
    {{comment_form}}
    <input class="btn btn-success mt-2 font-weight-bold" type="submit" value="Submit Comment" style="min-width:4rem">
</form>
</div>
</div>
{% endblock content %}