{% extends "base.html" %}
{% block content %}
{% load static %}
<script src="{% static 'register/js/register.js' %}"></script>

<div class="d-flex justify-content-center mt-2">
    <h1 class="text-title">REGISTER</h3>
</div>
<div class="d-flex justify-content-center">
    <h4 class="text-title">Fill In This Form to Sign Up</h3>
</div>
<div class="mb-5">
    <div class="d-flex justify-content-center">
        <form class="fr-form column w-75">
                <div class="form-group">
                    <div class="p-form d-flex justify-content-start">
                        <label for="username">Username : </label>
                    </div>
                    <input type="text" id="username" class="form-control" maxlength="150"></input> <br>
                    <div class="p-jawab d-flex justify-content-start">
                        <label for="name">Name : </label>
                    </div>
                    <input type="text" class="form-control" id="name" maxlength="100"></input> <br>
                    <div class="p-jawab d-flex justify-content-start">
                        <label for="birth_date">Birth Date : </label>
                    </div>
                    <input type="date" class="form-control" id="birth_date"></input> <br>
                    <div>Gender : 
                        <select class="form-control" name="gender" id="gender">
                            <option value="P">P</option>
                            <option value="W">W</option>
                        </select>
                    </div>
                    <div class="p-jawab d-flex justify-content-start">
                        <label for="phone_number">Phone Number : </label>
                    </div>
                    <input type="number" class="form-control" id="phone_number" maxlength="12"></input> <br>
                    
                    <div class="form-group">
                        <div class="p-jawab d-flex justify-content-start">
                            <label for="password">Password : </label>
                        </div>
                        <input type="password" class="form-control" id="password" maxlength="4096"></input> <br>
                    </div>
                </div>
                
                <div class="d-flex justify-content-end mb-3">
                    <a type="submit" class="btn btn-success" id="submit">Submit</a>
                </div>   
            </form>    
        </div>
    </div>
</div>

          

{% endblock %}
