{% extends "base.html" %}
{% block content %}
{% load static %}
<script src="{% static 'accounts/js/update.js' %}"></script>
<div class="d-flex justify-content-center mt-2">
    <h3 class="text-title">Update Profile</h3>
</div>
<div class="mb-5">
    <div class="d-flex justify-content-center">
        <form class="fr-form column w-75">
                <div class="form-group">
                    <div class="p-form d-flex justify-content-start">
                        <label for="username">Username : </label>
                    </div>
                    <input type="text" id="username" class="form-control" value="{{user.username}}" readonly></input> <br>
                    <div class="p-jawab d-flex justify-content-start">
                        <label for="name">Name : </label>
                    </div>
                    <input type="text" class="form-control" id="name" value="{{user.profile.name}}"></input> <br>
                    <div class="p-jawab d-flex justify-content-start">
                        <label for="birth_date">Birth Date : </label>
                    </div>
                    <input type="text" class="form-control" id="birth_date" value="{{user.profile.birth_date}}" readonly></input> <br>
                    <div>Gender : 
                        <select class="form-control" name="gender" value="{{user.profile.gender}}" id="gender">
                            {% if user.profile.gender == 'P' %}
                            <option value="P" selected>P</option>
                            <option value="W" >W</option>
                            {% elif user.profile.gender == 'W' %}
                            <option value="P">P</option>
                            <option value="W" selected >W</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="p-jawab d-flex justify-content-start">
                        <label for="phone_number">Phone Number : </label>
                    </div>
                    <input type="number" class="form-control" id="phone_number" value="{{user.profile.phone_number}}" maxlength="12"></input> <br>
                    <div class="p-jawab d-flex justify-content-start">
                        <label for="address">Address : </label>
                    </div>
                    <textarea type="text" class="form-control" id="address" rows="3">{{user.profile.address}}</textarea> <br>
                    <div class="p-jawab d-flex justify-content-start">
                        <label for="occupation">Occupation : </label>
                    </div>
                    <input type="text" class="form-control" id="occupation" value="{{user.profile.occupation}}" maxlength="12"></input> <br>
                    <div class="p-jawab d-flex justify-content-start">
                        <label for="description">Description : </label>
                    </div>
                    <textarea type="text" class="form-control" id="description" rows="3">{{user.profile.description}}</textarea> <br>
                    
                </div>
                
                <div class="d-flex justify-content-end mb-3">
                    <a type="submit" class="btn btn-success mr-3" id="submit">Submit</a>
                    <a type="submit" class="btn btn-warning " id="submit">Cancel</a>
                </div>   
            </form>    
        </div>
    </div>
</div>


{% endblock %}
